.main {
  flex: 1;
  min-height: 100vh;
  padding-bottom: 15vh;
  position: relative;
  background-color: #ffffff;
}

.main .nav {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: space-between;
  font-size: 20px;
  color: #4b4b4b;
  font-weight: 500;
}

.main .nav img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.main-container {
  max-width: 1000px;
  margin: auto;
}

.main .greet {
  margin: 40px 0 20px;
  font-size: 48px;
  font-weight: 600;
  color: #c4c7c5;
  padding: 20px;
  text-align: left;
  line-height: 1.2;
}

.main .greet span {
  background: linear-gradient(90deg, #4285f4, #ea4335);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.main .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 0px 20px;
}

.main .card {
  height: 150px;
  padding: 20px;
  background-color: #f0f4f9;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.main .card:hover {
  background-color: #e6eef5;
}

.main .card p {
  color: #444;
  font-size: 11.4px;
  letter-spacing: 0.7px;
  line-height: 1.4;
  font-weight: 500;
}

.main .card img {
  width: 30px;
  padding: 6px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  bottom: 10px;
  right: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.main-bottom {
  bottom: 0;
  width: 100%;
  position: absolute;
  max-width: 900px;
  padding: 0 20px;
  margin: auto;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #f0f4f9;
  padding: 12px 25px;
  border-radius: 50px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.search-box img {
  /* margin-right: 10px; */
  width: 22px;
  cursor: pointer;
}

.search-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
  color: #333;
}
.search-box .icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-box .icons img {
  margin: 0; /* Remove the previous margin-right */
  width: 22px;
  cursor: pointer;
}

.main .bottom-info {
  font-size: 12px;
  margin: 18px auto;
  text-align: center;
  font-weight: 300;
  color: #888;
  max-width: 700px;
}

.copy {
  text-align: center;
  font-size: 12px;
  color: #888;
  cursor: pointer;
  background: linear-gradient(90deg, #4285f4, #ea4335);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
